@font-face {font-family: "Montserrat-fallback";size-adjust: 113.55999999999995%;ascent-override: 82%;src:local("Arial")}
@font-face {font-family: "Montserrat";src: url("montserrat-regular.woff");font-display:swap}
body{ font-family: Montserrat, Montserrat-fallback, Sans Serif, Verdana;padding:0;margin:0;background:#EFEFEF;color:#1A1A1A;letter-spacing:.3px}
main{width:100%;float:left;position:relative;background:#F5F5F5;padding-bottom:70px}
.container{max-width:900px;height:auto;position:relative;margin:0 auto;padding:14px;line-height:24px;top:68px}
.container img{max-width:100%;object-fit:contain;border-radius:15px;height:auto}
.container a{color:#880000;text-decoration:none;position:relative;border-bottom: 1px solid #D5D5D5}
img, .container img{object-fit:contain}
.header-image{background:url('../header-image.jpg');width:100%;height:300px;position:relative;top:64px;background-repeat:no-repeat;background-position:center center}
.usp, .usp2{left:36%;top:120px;position:relative;color:#000;font-size:38px;width: calc(100% - 36%)}
form{background:#FFF;padding:20px;border-radius:8px;margin-top:10px;border:1px solid #F1F1F1;margin-bottom:20px}
input, textarea, select{width:100%;margin:10px 0;border:1px solid #D3D3D3;border-radius:5px;padding:8px;font-size:18px;margin-bottom:2px;box-sizing:border-box}
#call{margin-bottom:18px !important}
textarea{height:200px}
input[type="submit"]{background:#657398; border:0; color:#FFF}
label{color:#1A1A1A}
.send{position:relative;padding:20px 30px;font-weight:bold;top:80px;margin:auto;width:200px;background-color:#FFF;border-radius:10px;line-height:24px}
.button{font-size:18px;font-weight:normal;border:0;background:#657398;font-weight:bold;padding:10px 25px;color:#FFF;border-radius:10px;display:inline-block;cursor:pointer;text-decoration:none;color:#FFF !important}
.button:hover{background:#576383}
.call{position: relative;left:calc(100% - 814px);top:7px}
.telegram{position: relative;left:calc(100% - 920px);top:11px}
.footer{width:100%;padding:20px 15px;float:left;position:relative;box-sizing:border-box}
.footer img{position:relative;top:12px}
.footer a{color:#333 !important}
.centerDiv{max-width:900px;margin:0 auto;position:relative}
.centerDiv a{color:#880000;margin-right:10px;border-bottom: 1px solid #D3D3D3;text-decoration:none}
.nap{margin-top:24px;font-style:italic;color:#333}
.nap a{margin:0;padding:0 !important;text-decoration:none}
.faq, .ctaBox{width:100%;padding:18px 18px 26px 18px;height:auto;margin:30px 0;background:#FFF;color:#000 !important;border-radius:10px;box-sizing:border-box;border:1px solid #F2F2F2;}
.faq h3, .ctaBox h2{margin:0;padding:0;line-height:24px;font-size:20px;color:#000}
.h2{padding:20px 0 0 7px;line-height:12px;font-size:20px}
.error{color:red;font-size:0.9em;margin-top:4px;margin-bottom:14px;font-style:italic}
.success{color:green;font-size:1em;margin-top:10px}
#alsja{display:none}
.cta-button{align-items:center;justify-content:center;background-color:#5A6D90;color:#fff !important;padding:10px 20px;border:none;border-radius:6px;text-decoration:none;font-size:18px;font-weight:bold;cursor: pointer;transition: background-color 0.3s ease;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);width:auto}
.cta-button img{width:20px;height:20px;margin-right:10px;position:relative;top:3px}
.cta-button:hover{background-color:#4B5A78}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

@media (max-width:768px){
.h2{padding-left:7px}
.call{left:calc(100% - 260px)}
.telegram{left:calc(100% - 346px)}
.centerDiv{width:100%}
.centerDiv a{display:block;margin:2px 0;padding:2px 0;width:fit-content}
}
@media (max-width:1280px){
.header-image{background:url('../header-image-medium.jpg');width:100%;height:257px;top:65px}
.usp, .usp2{left: 260px;top:90px;position:relative;font-size:30px;width:calc(100% - 300px)}
.usp2{width:380px;top:106px}
}

@media (max-width: 500px) {
.cta-button{font-size:14px;padding:10px 16px}
.button{width:100%; text-align: center;box-sizing: border-box}
.header-image{background:url('../header-image-small.jpg');width:100%;height:133px;top:62px}
.usp, .usp2{left: 100px;top:34px;position:relative;font-size:22px;width:calc(100% - 110px)}
.usp2{top:48px}
form{padding:0px;background:#F5F5F5}
}
.dropbtn{display:none}
.dropdown{display:inline-block}
.dropdown-content{display:block;position:relative}
.dropdown-content a{color:black;padding:12px 16px;text-decoration:none;display:block}
.dropdown-content a:hover {background-color: #820000}
.dropdown:hover .dropdown-content{display:block}
.dropdown:hover .dropbtn{background-color:#820000}
.header a{color:#7d0303}
.header{background-color:#880000;box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);position:fixed;width:100%;z-index:3;}
.header ul{margin:0;padding:0;list-style:none;overflow:hidden;background-color:#880000}
.header li a{display:block;padding:20px 20px;text-decoration:none;color:#fff}
.header li a:hover,
.header .menu-btn:hover{background-color:#820000;color:#FFF}
.header .logo{display:block;float:left;font-size:2em;padding-left:10px;text-decoration:none;position:relative;top:9px}
.header .menu{clear:both;max-height:0;transition:max-height .2s ease-out}
.header .menu-icon{cursor:pointer;display:inline-block;float:right;padding:28px 20px;position:relative;user-select:none}
.header .menu-icon .navicon{background:#FFF;display:block;height:2px;position:relative;transition:background .2s ease-out;width:18px}
.header .menu-icon .navicon:before,.header .menu-icon .navicon:after{background:#FFF;content:'';display:block;height:100%;position:absolute;transition:all .2s ease-out;width:100%}
.header .menu-icon .navicon:before{top:5px}
.header .menu-icon .navicon:after{top:-5px}
.header .menu-btn {display:none}
.header .menu-btn:checked ~ .menu{max-height:700px}
.header .menu-btn:checked ~ .menu-icon .navicon{background:transparent}
.header .menu-btn:checked ~ .menu-icon .navicon:before{transform:rotate(-45deg)}
.header .menu-btn:checked ~ .menu-icon .navicon:after{transform:rotate(45deg)}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after{top:0}
@media (min-width: 48em) {
.dropbtn{color:#FFF;padding:20px 30px;font-size:16px;border:none;cursor:pointer;background:#880000;display:block}	
.dropdown-content{display:none;position:absolute;background-color:#880000;min-width:160px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1}	
.header li{float:left}
.header li a{padding:20px 30px}
.header .menu{clear:none;float:right;max-height:none}
.header .menu-icon{display:none;}.header .logo{padding-left:20px}
}

@media (min-width: 1915px ) {
.header-image{background:url('../header-image-wide.jpg');width:100%;height:300px;position:relative;top:64px;background-repeat:no-repeat;background-position:center center}
}

